body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #c3cdb7;
}
.meal  {
    padding-top: 1rem;
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
ul li p:first-child {
    font-weight: bolder;
}
.container{
    padding: 2rem;
    margin:auto;
    text-align: center;
    color: rgb(5, 28, 21);
    font-style: italic;
}
.click{
   color:#211f20;
    background-color:#9bbdac;
    font-weight: bolder;
   font-style: unset ;
   border-radius:10px;
}
.list
{
    margin: 1rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 

.mealroute{
    display: inline;
    font-style:oblique;
     display: flex;
    justify-content: space-between;
}
.reserve{
  color:#211f20;
    background-color:#9bbdac;
    
}