body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #c3cdb7; 
}
.meal  {
    position: absolute;
    width:100%;
       top:0;
    left: 0;
    margin-top: 9rem;
       margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;

}
.meal  {
    padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 50px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
ul li p:first-child {
    font-weight: bolder;
}

.container{
    width: 100%;
    background-color: #95c297;

    text-align: center;
    color: rgb(5, 28, 21);
    font-style: italic;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend{
    font-weight: 2000;
    font-style: italic;
  text-shadow:  1px 2px rgb(191, 180, 182);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(2, 65, 42);  
}
fieldset{
     color:orange;
     text-shadow:  1px 2px rgb(20, 3, 6);
      background-image: url('../../assets/images/veggie-fall.jpg');
    height:300px;
    font-weight: 800;
    border: 1px solid rgb(64, 62, 62);
    margin-top: 5rem;
     transition: width 2s, height 2s, transform 2s;
}
.list
{  
      width:200px;
      color:#1f191c;
    background-image: url('../../assets/images/star-anise1.jpg');
    background-repeat: repeat-x;
    margin: 2rem;
    padding: .5rem;
.head{
 text-shadow:  1px 2px pink;
}
.list
{ background-image:linear-gradient(to left, #95c297, #86a08e);
    margin: 1rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 
.mealroute{
    padding-top: 2rem;
    display: inline;
    font-style:oblique;
     display: flex;
    justify-content: space-between;
}
.reserve{

     color:#1f191c;
    background-image:linear-gradient(to left,  #3b3e3c,#e3ebe3,)

     background-image:linear-gradient(to left, #95c297, #86a08e);
  color:#211f20;
    background-color:#9bbdac;

    
}