body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #c3cdb7;
     
}
.meal  {
    position: absolute;
    width:100%;
       top:0;
    left: 0;
    margin-top: 9rem;
       margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
ul li p:first-child {
    font-weight: bolder;
}

.container{
    width: 100%;
    text-align: center;
    color: rgb(5, 28, 21);
    font-style: italic;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .head{
 text-shadow:  1px 2px pink;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(238, 249, 245);
} */
legend{
    font-weight: 2000;
    font-style: italic;
  text-shadow:  1px 2px rgb(191, 180, 182);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(2, 65, 42);  
}
fieldset{
     color:rgb(48, 243, 9);
     text-shadow:  1px 2px rgb(38, 8, 13);
      background-image: url('../../assets/images/spice.jpg');
    height:300px;
    font-weight: 800;
    border: 1px solid rgb(64, 62, 62);
    margin-top: 5rem;
     transition: width 2s, height 2s, transform 2s;
}
.list
{  
      width:200px;
      color:#1f191c;
    background-image:linear-gradient(to left,  #3b3e3c,#e3ebe3,);
    background-image: url('../../assets/images/star-anise1.jpg');
    background-repeat: repeat-x;
    margin: 2rem;
    padding: .5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 
fieldset:hover {
  transform: rotate(360deg);
}

.mealroute{
    padding-top: 2rem;
    display: inline;
    font-style:oblique;
     display: flex;
    justify-content: space-between;
}
.reserve{
     color:#1f191c;
    background-image:linear-gradient(to left,  #3b3e3c,#e3ebe3,)
    
}