.footer{
    font-family: 'Times New Roman', Times, serif;
     position: fixed;
  background-color: #3b3e3c;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;

      /* background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px; */
}
