.reviewheading{
    text-shadow:  1px 1px 2px pink;
     padding-top: 1rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(2, 33, 23);
}
.reviewheading h2{
  font-stretch: expanded;
}
.reviewlist{
     position:absolute;
    top:0;
    left: 0;
    margin-top: 5rem;
    margin-left: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
}
.eachreview{
    width:200px;
    color:#1f191c;
    background-image: url('../../assets/images/star-anise1.jpg');
    background-repeat: repeat-x;
      background-image:linear-gradient(to left, #95c297, #86a08e);
    margin: 2rem;
    padding: .5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.on {
  height: 30px;
  width:30px;
  color: green;
  color: #106037;
}
.off {
  height: 30px;
  width:30px;
   color: black;
  color: #827979;
}