body {
    font-family: 'Times New Roman', Times, serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(238, 249, 245);
}
.wrapper1{
    margin-top:2rem;
     position: absolute;
    width:50%;
    padding: 1rem;
    text-align: center;
    font-style: italic;
   
}
.reservfield{
       height:300px;
    border: 1px solid rgb(64, 62, 62);
    top:0;
    left: auto;
}
span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.reserveform{
    padding-top: 1rem;
    padding-left: 6.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
/* .wrapper{
    padding: 1rem;
    margin-top:2rem;
    text-align: center;
    color: rgb(5, 28, 21);
    font-style: italic;
   
} */
.reserveform{
      display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  width:400px;
}
.booked{
    margin-top: 1.5rem;
 color:#1f191c;
    background-image:linear-gradient(to left,  #3b3e3c,#e3ebe3,);
     color:#211f20;
    background-color:#9bbdac;
    
}